.vscode

# 기본 모드 모듈 폴더
node_modules/

# 맥북 인덱스 파일
.DS_Store

# 윈도우 실행파일
*.exe

# 크리덴셜(Credential)은 커밋 제외
secret.txt
.env

# 크롬맥암64관련 폴더
chrome-mac-arm64/

thumbnails/*

# 크리덴셜(Credential) 은 커밋 제외
secret.txt
.env
movie_chart.csv